html,
body{
    width: 100%;
}
body{
    height: auto;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

.barra-de-navegacion-principal{
    width: 100%;
    position: fixed;
    margin: 0px;
    box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
}

@media (max-width:1100px){
    .barra-de-navegacion-principal{
        display: none;
    }  
}

nav{
    display: flex;
    justify-content: flex-end;
    margin: 0px;

}

.barrasuperior{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 18px 0px;
    margin-top: 0px;
    

}

.bar1{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 15px;

}
.link-tarjetas{
    color: black;

}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.list{
    padding: 0 30px;
}

.contacto{
    background-color: rgb(180 127 203);
    border-radius: 50px;
    padding: 15px 25px;
    display: flex;
    transition: background-color .2s;
}
.contacto:hover{
    background-color: #d6b4df;
}

.bloque-de-presentacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1100px){
    .bloque-de-presentacion {
        flex-direction: column;
}
}

.presentacion{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: calc(100vh - 80px);
}

.descripcion{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.mi-nombre-es{
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 800;
}
.loquehago{
    color: white;
    background-color: rgb(180 127 203);
    font-size: 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 35%;
    margin-top: 1em;
    padding: 10px 0px;
    transition: background-color .2s;
    flex-wrap: wrap;
}
.loquehago:hover{
    background-color: #d6b4df;
}
h1{
    font-size: 45px;
    font-family: 'Rock Salt', cursive;
}


.about-image{
max-width: 600px;
}

.conocimientos{
    background-color: #F6F7FB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 3em;
    width: 100%;

}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    text-align: center;
    font-weight: bold;
}
/* el h2 no se "engruesa"*/
h2{
    color: black;
    font-size: 3.5em;
    
}
p{
    font-size: 1.25em;
}

.languages_icons,
.imagen-de-proyectos{
    height: 120px;
    width: 120px;
}
.tarjetas-de-pagina{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contenedor-imagenes-de-tarjetas{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    background-color: #F6F7FB;
    width: 260px;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 0 50px 0 rgb(134 134 134 / 25%);
    transition: background-color .2s;

}
.contenedor-imagenes-de-tarjetas:hover{
    background-color: white;
    border: 1px solid rgb(180 127 203);
}

.imagen-centrada{
    background-color: red;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.misproyectos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.comillas{
    height: 100px;
    width: 100px;
}
.cita{
    width: 100%;
    background-color: blueviolet;
    background: radial-gradient(circle, rgb(163, 83, 146), blueviolet); 
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
}
.columna{
width: 100%;
max-width: 1100px;
}
.redes_iconos,
.redes_descripcion{
    height: 35px;
    width: 35px;
    margin-right: 10px;

}
.contactame{
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.datos{
    background-color: #F6F7FB;
    display: flex;
    justify-content: center;
    align-content: space-between;
    padding: 30px 0px;
    margin: 50px 100px;
    border-radius: 80px;
}
.redes{
    list-style: none;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin:0;
    transition: 0.2s;
}
.socialmedia-font{
    color: black;
    display: flex;
    align-items: center;
}
.formulario{
    width: 50%;
    padding-right: 20%;
    padding-right: 5%;
}
.datos_de_contacto{
    width: 50%;
    padding-left: 15%;
    padding-right: 5%;
    font-weight: bold;
    max-width: 1000px;
}
label {
    margin-bottom: 10px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 10px;
    display: block;

}
input,
textarea {
    width: 100%;
    border-radius: 20px;
    background-color: white;
    padding: 10px 15px;
    border: none
}

.input-identification{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.first-name,
.last-name{
    box-sizing: border-box;
    width: 45%;
}

.send_button{
    background-color: rgb(180 127 203);
    width: 25%;
    font-size: 20px;
    color: white;
}
.send_button: hover{
    background-color: #d6b4df;
}

/*hay un margen a la derecha del footer*/
footer{
    width: 100%;
    background-color: rgb(180 127 203);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    
}
.bar2{
    list-style: none;
    display: flex;
    font-weight: 500;
    color: white;    

}
.list_footer_nav{
    margin: 30px;
    color: white;
}
.lista_iconos_footer{
    display: flex;
    list-style: none;
    justify-content:space-between;
}

/* Necesito que los iconos svg se vean blancos al colocar el cursor encima*/
/* por qué se ve un "margen" circular que desfigra la imagen?*/
.iconos_footer{
    height: 40px;
    width: 40px;
    display: flex;
    margin: 15px;
    border-radius: 50%;
    background-color: white;
    padding: 15px;
    transition: 0.1s;
}
.iconos_footer:hover{
    background-color: rgb(180 127 203);
    border: 1px solid white;
}
